.profile__info {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;

  align-self:flex-start;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .profile__info {
    padding-top: 0;
    align-self: center;
    align-items: center;
  }
}
