.header__container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 882px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box
}

@media (max-width: 767px) {
  .header__container {
    padding: 0 35px;
  }
}

@media (max-width: 424px) {
  .header__container {
    padding: 0 27px;
  }
}