.profile__edit-button {
  height: 24px;
  width: 24px;
  background: url("../../../images/edit.svg") center no-repeat;
  border: 1px solid #fff;
  margin: 0 17px 0 0;
}

@media (max-width: 424px) {
  .profile__edit-button {
    height: 19px;
    width: 19px;
  }
}
