.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  position: relative;
}
