.header__info-link{  
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: none;
  text-decoration: none;
}

@media (max-width: 1023px) {
  .header__info-link {
    margin: 0 0 40px 0;
  }
}
