.profile__add-button {
  width: 150px;
  height: 50px;
  background: url("../../../images/plus.svg") center no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
}

@media (max-width: 767px) {
  .profile__add-button {
    margin-left: 0;
  }
}

@media (max-width: 424px) {
  .profile__add-button {
    width: 100%;
  }
}
