.popup__button-cross {
  position: absolute;
  width: 58px;
  height: 58px;
  top: -47px;
  right: -47px;
  background: url("../../../images/cross.svg") center/contain no-repeat;
}

@media (max-width: 767px) {
  .popup__button-cross {
    width: 45px;
    height: 45px;
    top: -40px;
    right: -40px;
  }
}

@media (max-width: 424px) {
  .popup__button-cross {
    width: 35px;
    height: 35px;
    top: -30px;
    right: -30px;
  }
}
